<%= form_with(model: objeto, local: true) do |form| %>
  <% if objeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objeto.errors.count, "error") %> prohibited this objeto from being saved:</h2>

      <ul>
      <% objeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre_Objeto %>
    <%= form.text_field :Nombre_Objeto %>
  </div>

  <div class="field">
    <%= form.label :Descripcion %>
    <%= form.text_field :Descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
