<p id="notice"><%= notice %></p>

<p>
  <strong>Banco:</strong>
  <%= @fundacione.Banco_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @fundacione.Usuario_id %>
</p>

<p>
  <strong>Nombrefundacion:</strong>
  <%= @fundacione.NombreFundacion %>
</p>

<p>
  <strong>Nitfundacion:</strong>
  <%= @fundacione.NitFundacion %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @fundacione.FechaCreacion %>
</p>

<p>
  <strong>Dirfundacion:</strong>
  <%= @fundacione.DirFundacion %>
</p>

<p>
  <strong>Latdirfundacion:</strong>
  <%= @fundacione.LatDirFundacion %>
</p>

<p>
  <strong>Londirfundacion:</strong>
  <%= @fundacione.LonDirFundacion %>
</p>

<p>
  <strong>Telfundacion:</strong>
  <%= @fundacione.TelFundacion %>
</p>

<p>
  <strong>Celfundacion:</strong>
  <%= @fundacione.CelFundacion %>
</p>

<p>
  <strong>Correofundacion:</strong>
  <%= @fundacione.CorreoFundacion %>
</p>

<p>
  <strong>Imagenlogo:</strong>
  <%= @fundacione.ImagenLogo %>
</p>

<p>
  <strong>Numerocuenta:</strong>
  <%= @fundacione.NumeroCuenta %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @fundacione.Descripcion %>
</p>

<%= link_to 'Edit', edit_fundacione_path(@fundacione) %> |
<%= link_to 'Back', fundaciones_path %>
